form{
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #f7f7f7;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 40px;
}

.input-el{
    width: 90%;
    height: 35px;
    margin-top: 10px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
}

select, button{
    width: 95% !important;
}